<!DOCTYPE html>
<head>

  <title>Emotion Stock Market</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
  <link  href="static/css/bootstrap.css" rel="stylesheet">
  <script src="http://www.exratione.com/assets/raphael.1.5.2.min.js"
	  type="text/javascript" charset="utf-8"></script> 
  <script src="http://www.exratione.com/assets/g.raphael.0.4.1.min.js"
	  type="text/javascript" charset="utf-8"></script> 
  <script src="http://www.exratione.com/assets/g.line.0.4.2.altered.js"
	  type="text/javascript" charset="utf-8"></script> 
  <script src="http://www.exratione.com/assets/date.format.1.2.3.min.js"
	  type="text/javascript" charset="utf-8"></script> 
  <script src="/static/js/jquery.js"></script>
  <style type="text/css"> 
    h1 {
    font-size:200%;
    }
    .chartWrapper {
    position:relative;
    margin: 15px auto;
    float:left;
    width:500px;
    height:200px;
    border: solid;
    }
    .fontWrapper {
    position:relative;
    margin: 15px auto;
    float:right;
    width: 250px;
    height: 200px;
    border: solid;
    }
    .box {
    position:relative;
    margin:15px auto;
    float:center;
    width:800px;
    height:250px;
    border:solid;
    }
  </style> 
</head>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>
      <a class="brand" href="/profile">Emotion Stock Market</a>
      <div class="nav-collapse navbar-responsive-collapse in collapse">
	<ul class="nav">
	  <li class="active">
	    <a href="/profile">Profile</a>
	  </li>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Stock Market</a></li>
	  <li><a href="#">Bank</a></li>
	</ul>
	<p class="navbar-text pull-right"> <a href="/logout" class="navbar-link">Logout</p></a>
      </div> <!-- /.nav-collapse --> 
    </div>
  </div>
</div>

<br></br>
<div class="box">
  <div id="bored" class="chartWrapper"></div> 
  <div class="fontWrapper"> 
    <h1>bored</h1>
    price={{boredp}}
  </div>
</div>

<div class="box">
  <div id="love" class="chartWrapper"></div> 
  <div class="fontWrapper"> 
    <h1>love</h1>
    price={{lovep}}
  </div>
</div>


<div class="box">
  <div id="sad" class="chartWrapper"></div>
  <div class="fontWrapper">
    <h1>sad</h1>
    price={{sadp}}
  </div>
</div>

<div class="box">
  <div id="tired" class="chartWrapper"></div>
  <div class="fontWrapper">
    <h1>tired</h1>
    price={{tiredp}}
  </div>
</div>

<div class="box">
<div id="happy" class="chartWrapper"></div>
  <div class="fontWrapper">
    <h1>happy</h1>
    price={{happyp}}
  </div>
</div>

<div class="box">
<div id="mad" class="chartWrapper"></div>
  <div class="fontWrapper">
    <h1>mad</h1>
    price={{madp}}
  </div>
</div>

<div class="box">
<div id="sick" class="chartWrapper"></div>
  <div class="fontWrapper">
    <h1>sick</h1>
    price={{sickp}}
  </div>
</div>
 

<script type="text/javascript"> 
function time(){
var a =  [1358658000.0, 1358571600.0, 1358485200.0, 1358398800.0, 1358312400.0, 1358226000.0, 1358139600.0, 1358053200.0, 1357966800.0, 1357880400.0];

return a;
}

function chart(r,stock,x,y){
  var chart = r.g.linechart(
    10, 10,      // top left anchor
    490, 180,    // bottom right anchor
     x,
     y,
 
    {
       nostroke: false,   // lines between points are drawn
       axis: "0 0 1 1",   // draw axes on the left and bottom
       symbol: "disc",    // use a filled circle as the point symbol
       smooth: false,      // curve the lines to smooth turns on the chart
       dash: "-",         // draw the lines dashed
       colors: [
         "#995555",       // the first line is red  
     //    "#555599"        // the second line is blue
       ]
     });
     var x_axis=chart.axis[0].text.items;
    // console.log(x_axis[0]);
     for (var i=0; i<x_axis.length; i++){
       console.log(x[i]);
       var date=new Date(x[i]*1000);
     //  console.log(date);
        var month=date.getMonth()+1;
        var day=date.getDate();
        tmp=month+"/"+day;
         x_axis[i].attr("text",tmp);
     }



}

function getStockNames(){
    $.getJSON('/stockNames',function(stocks){
        return stocks;
    });
}

function updateStocks(){
$.getJSON('/getStocks',function(){});

}

function setChart(r,name){
    $.getJSON('/getStocks',function(stocks)
    {

        for (var i=0; i<stocks.length; i++)
        {
          if (stocks[i]["stock"]===name)
          {
            stock=stocks[i];
	    console.log(stock);
           }
         }
        var x = [];
        var y =[];
         for (var i=0; i<stock["data"].length; i++)
         {
             x.push(stock["data"][i]["time"]);
             y.push(stock["data"][i]["price"]);
             console.log(x);
             console.log(y);

         }
         chart(r,name,x,y);
     }
    );

}

function clear(){
document.getElementById("bored").innerHTML="";
document.getElementById("love").innerHTML="";
document.getElementById("tired").innerHTML="";
document.getElementById("happy").innerHTML="";
document.getElementById("mad").innerHTML="";
document.getElementById("sick").innerHTML="";
document.getElementById("sad").innerHTML="";

}

window.onload = function(){
//var a = Raphael("bored");
//var b = Raphael("love");
//var c = Raphael("sad");
//var d = Raphael("tired");
//var e = Raphael("happy");
//var f = Raphael("mad");
//var g = Raphael("sick");

setChart(Raphael("bored"),"bored");
setChart(Raphael("love"),"love");
setChart(Raphael("sad"),"sad");
setChart(Raphael("tired"),"tired");
setChart(Raphael("happy"),"happy");
setChart(Raphael("sick"),"sick");
setChart(Raphael("mad"),"mad");

}


</script> 
<html>
