<!DOCTYPE html>
<html>
<form action="bank" method="POST">
  <head>
    <title>Emotion Stock Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
    <style>
      body{padding-top:60px;padding-left:40px}
    </style>

  

  </head>
  
  <body>

  <!--
  <form action="login" method="post">
    <div class="row-fluid">
      <div class="span4 offset5">
	<p><h1>LOGIN</h1></p>
	<p>Username: <input type="text" name="username">
	<p><button class="btn btn-large btn-primary" type="submit" name="button" value="GOOGLE">GOOGLE</button>
      </div>
      <script src="static/js/jquery.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
     -->
<body bgcolor="#212122">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/profile">Emotion Stock Market</a>
	  <div class="nav-collapse navbar-responsive-collapse in collapse">
	    <ul class="nav">
	      <li><a href="/about">About</a></li>
	    </ul>
	  </div> <!-- /.nav-collapse --> 
	</div>
      </div>
    </div>

<br></br>
<form action="login" method="post">
  <div class="row-fluid">
    <div class="span4 offset5">
      <header><font size="20"><b>
    	      LOGIN
     	</b></font></header>
      <br></br>
      <div class="input-prepend input-append">
	  <span class="add-on"> Username: </span>
	  <input class="input-large" id="prependedInput" type="text" name="username">
	  <button class="btn" type="submit" name="button" value="LOG"> Log in </button>
      </div>
      <p><button class="btn btn-large btn-primary" type="submit" name="button" value="GOOGLE">Or use Google!</button>

    </div>
  </form>
</body>
